* {
	margin: 0;
	padding: 0;
}

a, a:link, a:visited, a:active, a:hover {
	text-decoration: none;
	font-weight: bolder;
	color: #303669;
}

body {
	background: url('fundo.jpg') white;
	font-family: Tahoma, Helvetica, Calibri, Georgia;
	font-size: 1.1em;
}

#logo {
	float: left;
	margin: 1em;
}

#cabecalho nav {
	float: right;
	margin-right: 2em; 
}

#principal {
	background: white;
	border: 1px solid #303669;
	border-top: 15px solid #303669;
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	height: 95%;
}